[Unit]
Description=bme280 sensor api
After=network.target
Wants=network-online.target

[Service]
Restart=always
Type=simple
ExecStart=/srv/bme280/bme280_api
WorkingDirectory=/srv/bme280
User=sensor

[Install]
WantedBy=multi-user.target