[Unit]
Description=InfluxDB collector for sensor api
After=network.target pmsa003i.service scd-41.service bme280.service
Wants=network-online.target

[Service]
Restart=always
Type=simple
ExecStart=/srv/influxdb-collector/influxdb-collector
WorkingDirectory=/srv/influxdb-collector
User=sensor

[Install]
WantedBy=multi-user.target