[Unit]
Description=scd-41 sensor api
After=network.target
Wants=network-online.target

[Service]
Restart=always
Type=simple
ExecStart=/srv/scd-41/scd-41_api
WorkingDirectory=/srv/scd-41
User=sensor

[Install]
WantedBy=multi-user.target