[Unit]
Description=Sensor collector for sensor api
After=network.target pmsa003i.service scd-41.service bme280.service
Wants=network-online.target

[Service]
Restart=always
Type=simple
ExecStart=/srv/sensor-collector/sensor-collector
WorkingDirectory=/srv/sensor-collector
User=sensor

[Install]
WantedBy=multi-user.target