[Unit]
Description=VEML7700 Light Sensor API
After=network.target
Wants=network-online.target

[Service]
Restart=always
Type=simple
WorkingDirectory=/srv/veml7700
ExecStart=/srv/veml7700/veml7700_api
User=sensor

[Install]
WantedBy=multi-user.target
