[Unit]
Description=pmsa003i sensor api
After=network.target
Wants=network-online.target

[Service]
Restart=always
Type=simple
ExecStart=/srv/pmsa003i/pmsa003i_api
WorkingDirectory=/srv/pmsa003i
User=sensor

[Install]
WantedBy=multi-user.target